.pricingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}

.pricingTitle {
  margin: 0;
  color: #359ebb;
  text-align: center;
  font-size: x-large;
}

.pricingHeader {
  text-align: center;
  font-size: 44px;
}

.pricingSubHeader {
  margin: 0;
  max-width: 500px;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.pricingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 5rem;
}

.pricingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.8vw;
  background-color: var(--card);
  border-radius: 15px;
  padding: 2.5rem 2rem;
}

.pricingCardHeader {
  margin: 0;
  font-size: 24px;
  color: #979ce7;
}

.pricingCardSubHeader {
  font-size: 20px;
  line-height: 1.8rem;
}

.pricingCardText {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pricingCardPrice {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.pricingCardTime {
  margin-left: 10px;
  color: darkgray;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.pricingCardList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricingCardListItem {
  margin-bottom: 1rem;
  font-size: 18px;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.pricingButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.currentPlan {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.pricingCardButton {
  width: 100%;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pricingCardButton:disabled {
  cursor: default;
}

.standard {
  background-color: var(--primary);
}

.standard:hover {
  background-color: var(--primary-hover) !important;
}

.standard:disabled:hover {
  background-color: var(--primary) !important;
}

.normal {
  background-color: #626697;
}

.normal:hover {
  background-color: #545781 !important;
}

.normal:disabled:hover {
  background-color: #626697 !important;
}

.pricingGradient {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
  height: 64rem;
  mask-image: radial-gradient(closest-side, white, transparent);
  -webkit-mask-image: radial-gradient(closest-side, white, transparent);
  filter: blur(400px);
}

.pricingSkeleton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 5rem;
}

.pricingCardSkeleton {
  width: 20.8vw;
  height: 550px;
  background-color: #94a3b8;
  border-radius: 15px;
  padding: 2.5rem 2rem;
}

.pricingMiddleCardSkeleton {
  width: 20.8vw;
  height: 550px;
  background-color: #94a3b8;
  border-radius: 15px;
  padding: 2.5rem 2rem;
  scale: 1.1;
}

@media (max-width: 1280px) {
  .pricingSection {
    margin-top: 5rem;
  }

  .pricingHeader {
    font-size: 36px;
  }

  .pricingSubHeader {
    font-size: 18px;
  }

  .pricingCardHeader {
    font-size: 20px;
  }

  .pricingCardSubHeader {
    font-size: 16px;
  }

  .pricingCardText {
    font-size: 16px;
  }

  .pricingCardPrice {
    font-size: 36px;
  }

  .pricingCardTime {
    font-size: 16px;
  }

  .pricingCardListItem {
    font-size: 16px;
  }

  .pricingCardButton {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .pricingSection {
    margin-top: 2rem;
  }

  .pricingSubHeader {
    font-size: 16px;
  }

  .pricingCardHeader {
    font-size: 18px;
  }

  .pricingCardSubHeader {
    font-size: 14px;
  }

  .pricingCardText {
    font-size: 14px;
  }

  .pricingCardPrice {
    font-size: 32px;
  }

  .pricingCardTime {
    font-size: 14px;
  }

  .pricingCardListItem {
    font-size: 14px;
  }

  .pricingCardButton {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .pricingSection {
    margin-top: 10rem;
  }

  .pricingCard {
    width: 60vw;
    padding: 1.5rem 2rem;
  }

  .pricingSection {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pricingHeader {
    font-size: 32px;
  }

  .pricingSubHeader {
    font-size: 16px;
  }

  .pricingContainer {
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .pricingCardHeader {
    font-size: 20px;
  }

  .pricingCardSubHeader {
    font-size: 16px;
  }

  .pricingCardText {
    font-size: 16px;
  }

  .pricingCardPrice {
    font-size: 36px;
  }

  .pricingCardTime {
    font-size: 16px;
  }

  .pricingCardListItem {
    font-size: 16px;
  }

  .pricingCardButton {
    font-size: 16px;
  }

  .pricingGradient {
    height: 50rem;
  }
}