.mainContainer {
    margin-top: 6vh;
    padding-left: 16vw;
    padding-right: 16vw;
}

.mainHeader {
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
    text-align: center;
    margin: 0;
    text-shadow: 0 0.1rem 0 hsla(0,0%,100%,.1), 0 0 4rem hsla(0,0%,70%,.5);
}

@media (min-width: 768px) {
    .title {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 74px;
    }
}

.highlight {
    background: linear-gradient(to right, #676bb9, #359ebb);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masonrySongs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 8rem;
}
  
.masonryItem {
    position: relative;
    margin-bottom: 15px;
}

.masonryImage {
    border-radius: 20px;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}
  
.playButton.play:hover,
.playButton.pause:hover {
    opacity: 0.8;
}
  
.playButton svg {
    color: #eaeaea;
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    text-align: left;
    font-size: 18px;
    color: #9B9CA1;
}

.textBold {
    font-size: 18px;
    margin: 0 5px;
}

.link {
    margin: 0 25px;
}

.button {
    border-radius: 50px;
    padding: 18px 22px;
    font-size: large;
    font-weight: bold;
    background-color: #eaeaea;
    color: #13151A;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.button:hover {
    box-shadow: 0 0.1rem 0 hsla(0,0%,100%,.1), 0 0 1.5rem hsla(0,0%,60%,.5);
}

.centerOnMobile {
    text-align: center;
}

.desktopBreak {
    display: none;
}

@media screen and (min-width: 1770px) {
    .desktopBreak {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .mainContainer {
        text-align: center;
        margin-top: 2vh;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .mainHeader {
        margin-bottom: 2rem;
    }

    .masonrySongs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 3.5rem;
        gap: 0.2rem;
    }

    .masonryImage {
        max-width: 100%;
        max-height: 100%;
    }
}

.hideOnMobile {
    display: none;
}

@media screen and (min-width: 768px) {
    .hideOnMobile {
        display: flex;
    }
}
  
.footerHome {
    margin-top: 6vh;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
}

.footerContainer {
    max-width: 90rem;
    margin: 0 auto;
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: 1rem;
    color: #eaeaea;
    margin-bottom: 1rem;
}

.socialContainer {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    .footerContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footerText {
        margin-bottom: 0;
    }
}

.footerButton {
    background-color: rgba(0, 0, 0, 0.1);
    color: #eaeaea;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.footerButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.backgroundDiv {
    position: absolute;
    top: 400px;
    z-index: -10;
    display: flex;
    justify-content: center;
    overflow: hidden;
    filter: blur(64px);
}

.gradientDiv {
    aspect-ratio: calc(1108 / 632);
    width: 69.25rem;
    background-image: linear-gradient(to right, #80caff, #4f46e5);
    opacity: 0.2;
}

.boostTextContainer {
    margin: auto;
    max-width: 32rem;
    text-align: center;
}

.boostTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.boostSubtitle {
    margin-top: 1.5rem;
    max-width: 40rem;
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: #d1d5db;
}

.buttonContainer {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.primaryButton {
    padding: 0.625rem 0.875rem;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: white;
    color: #4b5563;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.secondaryButton {
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
}
