.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 16vw;
    position: relative;
}

.navItems {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.links {
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
}

.link {
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s;
    color: #eaeaea;
}

.link:hover {
    color: #676bb9;
}

.avatarContainer {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.avatar {
    object-fit: cover;
}

.menu,
.hamburgerMenu {
    position: absolute;
    top: 70px;
    right: 13.5vw;
    background-color: #1D1E1E;
    border-radius: 5px;
    padding: 0.8rem 0.2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.show {
    opacity: 1;
}

.menuItem {
    display: block;
    margin: 0 5px;
    line-height: 18px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.menuItem:hover {
    opacity: 0.9;
    background-color: #252727;
    border-radius: 5px;
}

.authButton,
.hamburgerButton {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: transparent;
    color: #eaeaea;
    cursor: pointer;
    transition: background-color 0.3s;
}

.authButton {
    font-size: 1.4rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.logoText {
    font-size: 1.15rem;
    font-weight: 700;
    color: #eaeaea;
}

.getStarted {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 50px;
    padding: 16px 20px;
    font-size: large;
    font-weight: 500;
    background: linear-gradient(to right, #676bb9, #359ebb);
    color: white;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    text-align: center;
}

.getStarted:hover {
    box-shadow: 0 0.4rem 0 hsla(215, 44%, 51%, 0.5), 0 0 1.5rem hsla(288, 39%, 60%, 0.5);
}

.authButton:hover,
.hamburgerButton:hover {
    opacity: 0.8;
}

.authButton:active,
.hamburgerButton:active {
    transform: scale(0.98);
}

.hamburgerButton {
    display: none;
}

.hamburgerMenu {
    display: none
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 4vw;
    }

    .links,
    .authButton {
        display: none;
    }

    .hamburgerButton {
        display: block;
    }

    .hamburgerMenu {
        display: block;
        top: 60px;
        right: -5vw;
    }

    .avatarContainer {
        display: none;
    }
}

.avatarIcon {
    border-radius: 5px;
    background-color: #1D1E1E;
    padding: 0.1rem;
}
  